.message-view-content {
  padding-top: 75px;
  position: relative;
  overflow-y: scroll;
}

.send-message-section {
  width: 55%;
  background-color: rgb(230, 230, 230);
  position: fixed;
  bottom: 0;
  height: 50px;
}

.message-form-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-form-input {
  width: 70%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 12px;
  margin-left: 30px;
}

.upload-message-icon {
  height: 30px;
  padding-right: 20px;
  padding-top: 2px;
}

.upload-message-icon:hover {
  cursor: pointer;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
}

.empty-message-view-section {
  text-align: center;
  width: 100%;
}

.empty-message-text {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(230, 230, 230);
  height: 30px;
  margin-top: 5px;
}

.empty-message-icon {
  height: 75px;
  margin-top: 25%;
}

.chat-message-section {
  overflow-y: scroll;
  padding-bottom: 75px;
}

.chat-message-bubble {
  min-height: 75px;
  width: 100%;
  word-wrap: break-word;
}

.chat-bubble-meta-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(170, 170, 170);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
}

.chat-message-bubble-body {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Noto Sans", sans-serif;
  margin-top: 5px;
  font-size: 17px;
}
