.item-preview-section {
  margin-right: 40px;
  margin-bottom: 25px;
  text-align: left;
  background-color: white;
  padding: 25px;
  width: 200px;
  box-shadow: -1px 4px 18px #c4c4c4;
  border-radius: 10px;
  height: 285px;
}

.item-preview-section:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.item-preview-img-section {
  height: 150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.item-preview-img {
  height: 140px;
}

.item-preview-info-section {
  margin-top: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  color: gray;
}

.item-preview-name {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color: rgb(80, 80, 80);
  padding-bottom: 7px;
}

.home-break-line {
  width: 100%;
  display: block;
  border: none;
  height: 1px;
  background: #f2f2f2;
  margin-bottom: 0;
  margin-top: 50px;
}

.item-preview-price {
  font-size: 15px;
  float: left;
  background-color: #00b248;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  border-radius: 5px;
}

.favorites-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.favorite-heart-icon {
  height: 30px;
  position: absolute;
  
}

.report-section {
  position: absolute;
  right: 2px;
  top: 1px;
}

.reportBtn{
  border: 1.3px solid #00b248;
  border-radius: 5px;
  cursor: pointer;
}

.favorite-heart-icon:hover {
  cursor: pointer;
  height: 33px;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
}

.report-section .reportBtn:hover{
  background-color: #00b248;
  color: #f2f2f2;
  transition: .2s all ease-in-out;
}