.school-info-img {
  height: 50px;
  margin-left: 20px;
}

.school-info-section {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.school-info-data {
  text-align: left;
  margin-top: 10px;
  margin-right: 100px;
  color: gray;
  font-family: 'Noto Sans', sans-serif;
}