.recent-items-section {
  margin-top: 50px;
  padding-left: 25px;
}

.recent-items-header {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 27px;
}

.item-content-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  margin-bottom: 200px;
}

