
  <body style="font-family: Open Sans, Helvetica">

      <table align="center"  style="max-width: 400px">


          <tr align="center"  >
              <td>
                  <a href= "https://unify-309723.wm.r.appspot.com"   style="text-decoration: none">
                      <img src="https://drive.google.com/uc?export=view&id=1ClX5fGK_ktzmUDVwSnqfZc83-80hfBf5" width="120" height="120"/>
                  </a>
              </td>


          <tr align="left"  >
              <td>
                  <p>
                      <br> <br>Hello <%= @user.first_name %>,
                      <br> <br>You’re almost done! Verify your email with the link below to finish setting up your Unify account:<br>
                  </p>
              </td>
          </tr>



          <tr align="center">
              <td>
                  <a href= "https://unify-309723.wm.r.appspot.com/api/verifyUser/<%= @user.id %>" >
                      <button style="background-color: #4ae339;  color: black; font-size: 30px;   padding: 10px 10px;  border-radius: 15px; border: 3px solid white"   >
                      Verify Email
                      </button>
                  </a>
              </td>
          </tr>


          <tr align="left"  >
              <td>
                  <br><p>Like what we do? Follow us:</p>
              </td>
          </tr>


          <tr align="center"  >
              <td>
                  <a href="https://www.twitter.com" style="text-decoration: none">
                      <img src="http://drive.google.com/uc?export=view&id=1BWOvgTyrgIm2zx_OWf_RLC5opPZPvzgo" width="35" height="35"/>
                  </a>


                  <a href="https://www.facebook.com"  style="text-decoration: none">
                      <img  style="margin:0px 10px" src="http://drive.google.com/uc?export=view&id=1Uf7K2pRPyQt_udalWUD-jK9dnEIQYvJa" width="35" height="35"/>
                  </a>




                  <a href="https://www.instagram.com"  style="text-decoration: none">
                      <img src="http://drive.google.com/uc?export=view&id=1Jr_mnl2B9TmLxm0h1gAmEcjiqkduxiAj" width="35" height="35"/>
                  </a>
              </td>

          </tr>









          <tr align="left"  >
              <td>
                  <br>Sincerely,<br><br>The Unify team<br>
              </td>
          </tr>


          <tr align="center">
              <td>
                  <br>
                  <hr style="height:1px;border-width:0;color:gray;background-color:gray">
              </td>
          </tr>


          <tr align="center">
              <td>
                Copyright © 2021 Unify Exchange LLC. Redlands, CA. All rights reserved.<br>
              </td>

          </tr>





          </tr>
      </table>

  </body>
