// .header-links {
//   margin-right: 50px;
// }

// .header-links .link {
//   margin-left: 20px;
//   margin-right: 20px;
//   color: white;
//   text-decoration: none;
//   font-family: 'Montserrat', sans-serif;
// }

.fixed-nav-bar {
  background-color: #4caf50;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo-img {
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 40px;
}

.header-links {
  float: right;
  vertical-align: middle;
  margin-top: 20px;
}

.hero-content {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 0;
}

.hero-image {
  width: 100%;
  z-index: 0;
}