.slider {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  // z-index: 9;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  // z-index: 9;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}
