.messages-content-section {
  display: flex;
  justify-content: space-evenly;
}

.conversation-view-section {
  height: 100vh;
  width: 25%;
  border-right: 1px solid rgb(235, 235, 235);
}

.conversation-view-wrapper {
  margin-top: 75px;
}

.message-view-section {
  height: 100vh;
  width: 55%;
  overflow-y: scroll;
}

.conversation-item-view-section {
  overflow-y: scroll;
  height: 100vh;
  width: 20%;
  border-left: 1px solid rgb(235, 235, 235);
}

.conversation-view-section {
  overflow-y: scroll;
}

.conversation-section-row {
  height: 75px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.conversation-section-row:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.gray-selected {
  background-color: rgb(240, 240, 240);
}

.green-selected {
  background-color: #00b248;
  color: white;
}

.green-selected:hover {
  background-color: #00b248;
}

.conversation-row-img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.conversation-row-txt {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 25px;
  line-height: 1.3;
}

.conversation-row-name {
  font-size: 21px;
}

.conversation-row-date {
  font-size: 14px;
  color: rgb(187, 187, 187);
}

.unreadDot {
  height: 15px;
  width: 15px;
  background-color: #00b248;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px
}