.fixed-nav-bar {
  background-color: white;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid lightgray;
}

.logo-img {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 40px;
  margin-top: 10px;
  z-index: 5000;
}

.logo-img:hover {
  cursor: pointer;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
}

.header-links {
  float: right;
  vertical-align: middle;
  margin-top: 27px;
  margin-right: 30px;
  margin-left: 15px;
}

.link {
  margin-left: 40px;
  font-family: 'Manjari', sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: gray;
}

.link:hover {
  cursor: pointer;
  color: #00b248;
}

.signup-link {
  background-color: #00b248;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

.signup-link:hover {
  background-color: #00e575;
  color: white;
}

.hero-content {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 0;
}

.hero-image {
  width: 100%;
  z-index: 0;
}

.account-settings-menu {
  text-align: left;
  z-index: 999999;
  color: white;
  background-color: rgba(27, 27, 29, 1);
  z-index: 9999;
  position: fixed;
  width: 296px;
  height: 200px;
  right: 30px;
  top: 60px;
  box-shadow: -1px 4px 18px gray;
  border-radius: 3px;
}

.account-settings-stats {
  font-family: "Noto Sans", sans-serif;
}

.account-settings-name {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 30px;
}

.account-settings-email {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.account-setting-label {
  font-size: 12px;
  margin: 0px;
  font-weight: 100;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 20px;
}

.account-setting-port-value {
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 7px;
  margin-top: 0px;
}

.account-setting-power-value {
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 7px;
  margin-top: 10px;
}

.account-setting-divider {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0;
  width: 99%;
  border-color: black;
  border-style: inset;
  border-width: 0.7px;
}

.account-setting-port {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

.account-setting-power {
  display: inline-block;
  text-align: left;
  margin-left: 30px;
}

.account-settings-list {
  height: 23px;
  margin: 0;
  padding-top: 16px;
}

.account-settings-item {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  position: absolute;
  left: 20px;
}

.account-settings-list:hover {
  background-color: rgb(23, 23, 24);
  cursor: pointer;
}

.account-settings-list li {
  display: inline;
  padding-right: 6px;
  padding-left: 25px;
}

.account-settings-list .account-settings-item {
  background-image: url("https://www.iconsdb.com/icons/preview/white/logout-xxl.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden-menu {
  display: none;
}

.account-button {
  background-color: transparent;
  border: none;
  color: gray;
  cursor: pointer;
  font-family: 'Manjari', sans-serif;
  font-size: 17px;
  margin-left: 35px;
}
.float-right{
  float: right;
  text-align: center;
}
.warning{
  color:red;
  padding-bottom: 5px;
}
.account-button:hover {
  color: #00b248;
}

.header-group {
  float: right;
  margin-top: 25px;
  margin-right: 40px;
}

#menu-bar{
  display: none;
}

.show-menu-hide {
  display: block !important;
}

.no-display{
  visibility: hidden;

}

.show-display{
  display: inline-block;
}

.menuHolder{
  background-color: #fff;
  z-index: 1;
  position: absolute;
  right: 5%;
  top: 40%;

}


.menu-bar-responsive {
  top: 30%;
  position: absolute;
  right: 10%;
  height: 20px;
}



@media only screen and (max-width: 1200px) {
  #menu-bar{
    display: block;
  }

  .account-settings-menu{
    width: 200px;
    height: 200px;
    right: 5%;
    top: 40%;
  }
  .link{
    margin-left: 40px;
    font-family: 'Manjari', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: gray;
    display: block;
    margin-top: 30px;
  }

  .menuHolder{
    z-index: 1;
    right: 5%;
    top: 55%;
  }
}
.unreadDot {
  height: 15px;
  width: 15px;
  background-color: #00b248;
  border-radius: 50%;
  margin-bottom: 5px
}